.mdl-card__media {
    margin: 0;
}

.mdl-card__media > img {
  max-width: 100%;
}


.card__employee {}

    .card__employee img,
    .card__employee-content {
        display: inline-block;
        vertical-align: middle;
    }

    .card__employee img{
        border-radius: 50%;
        margin-right: 0.6em;
    }